{% if message %}
{% if "successful" in message %}
<div class="alert alert-success d-flex align-items-center" role="alert">
    <i class="material-icons mdc-text-field__icon" style="color:rgb(33, 133, 0)">check_circle</i>
    {% elif message %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <i class="material-icons mdc-text-field__icon" style="color:rgb(164, 0, 0)">warning</i>
        {% endif %}
        <div class="px-3">
            {{ message }}
        </div>
    </div>
    {% endif %}
    <div class="py-2">
        <label class="mdc-text-field mdc-text-field--filled  mdc-text-field--with-leading-icon">
            <i class="material-icons mdc-text-field__icon" style="color:rgb(0, 0, 0)">mail</i>
            <span class="mdc-text-field__ripple --mdc-theme-primary"></span>
            <span class="mdc-floating-label">Email</span>
            <input class="mdc-text-field__input" type="email" id="email" name="email" required>
            <span class="mdc-line-ripple --mdc-theme-primary"></span>
        </label>
    </div>
    <div class="pt-2">
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
            <i class="material-icons mdc-text-field__icon" style="color:rgb(0, 0, 0)">lock</i>
            <span class="mdc-text-field__ripple --mdc-theme-primary"></span>
            <span class="mdc-floating-label">Password</span>
            <input class="mdc-text-field__input" type="password" id="password" name="password" minlength="8" required>
            <span class="mdc-line-ripple --mdc-theme-primary"></span>
        </label>
        <div class="mdc-text-field-helper-line">
            <div class="mdc-text-field-helper-text" aria-hidden="true">Min. 8 characters</div>
        </div>
    </div>