{% extends 'base.html' %}

{% block content %}
<div class="auth-content p-5">
  <img src="/static/assets/Level_Up_Logo.png" height="300px"alt="Level Up Logo"/>
  <form method="post">
      <h3 class="pt-4">Sign Up</h3>
      <label class="py-2" form="username" placeholder="Username">Username</label>
      <input name="username" id="username" placeholder="Username" required>
      <label class="py-2" form="password">Password</label>
      <input type="password" name="password" placeholder="Min. 8 characters" id="password" required>
      <input class="login-button mt-4" type="submit" value="Sign Up">
  </form>
  <div>
    <p>Already have an account? <a href="/auth/login">Sign in</a> </p>
  </div>
</div>

{% endblock %}
