<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
  
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body >
  <div class="nav_bar">
    <a href="" style="float:left;margin-top:20px;font-size:30px">Back</a>
    <button style="float:right;" class="mdc-button mdc-button--raised mt-4 mb-2 login-button">Logout</button>
  </div>
  
  <div class="profile_page_content">
    <div>
      <img src="/static/assets/profile_icon.png" height="300px"alt="Profile Icon" class="profile_img"/>
    </div>
    <div class="alert {{ alert_type }}" id="alert"> 
      <p style="font-size:40px;color:#40b5e8"> {{ message }} </p> 
    </div>
  </div>

  <div class="profile_page_headers">
    <div>
      <p style="font-size:50px;color:#40b5e8;">Badges</p>
    </div>
    
    <div>
      <p style="font-size:50px;color:#40b5e8;">Skills</p>
    </div>

    <div>
      <p style="font-size:35px;color:#40b5e8;">Learning</p>
      <div class="expBar">
        <div id="learnBar" class="expFill">Lv.1</div>
      </div>

      <p style="font-size:35px;color:#40b5e8;">Working</p>
      <div class="expBar">
        <div id="workBar" class="expFill">Lv.1</div>
      </div>

      <p style="font-size:35px;color:#40b5e8;">Exercising</p>
      <div class="expBar">
        <div id="exerciseBar" class="expFill">Lv.1</div>
      </div>

    </div>
  </div>

<script>
  function learnExp() {
    var i = 0;
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("learnBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
    }
  }
  learnExp();

  function workExp() {
    var i = 0;
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("workBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
    }
  }
  workExp();

  function exerExp() {
    var i = 0;
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("exerciseBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
    }
  }
  exerExp();
</script>
</body>