{% extends 'base.html' %}
{% block content %}
{% include "nav/navbar.html" %}

<button class="collapsed demo-button mdc-button mdc-button--raised mdc-ripple-upgraded m-3" data-bs-toggle="collapse"
	data-bs-target="#add-task-container" aria-expanded="false" aria-controls="add-task-container"
	id="show-add-task-container-button">
	<span class="mdc-button__ripple"></span>
	<span class="mdc-button__label">Add Task</span>
	<i class="material-icons mdc-button__icon">expand_more</i>

</button>

<div id="add-task-container" class="collapse" aria-labelledby="add-task-container">
	<div class="card card-body text-bg-dark d-flex justify-content-center" style="margin: 0 20rem 0 20rem">
		<form method="post">
			<div class="py-2">
				<label class="mdc-text-field mdc-text-field--filled  mdc-text-field--with-leading-icon">
					<i class="material-icons mdc-text-field__icon" style="color:rgb(0, 0, 0)">task</i>
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Task Name</span>
					<input class="mdc-text-field__input" name="task-name" id="task-name" placeholder="Task Name"
						required>
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
			</div>
			<div class="py-2">
				<label class="mdc-text-field mdc-text-field--filled  mdc-text-field--with-leading-icon">
					<i class="material-icons mdc-text-field__icon" style="color:rgb(0, 0, 0)">schedule</i>
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Time (Seconds)</span>
					<input class="mdc-text-field__input" type="number" name="task-time" id="task-time" placeholder="00"
						min="0" max="1440" required>
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
			</div>
			<button class="mdc-button mdc-button--raised mt-4 mb-2 login-button" id="add-task-submit-button"
				type="reset" value="Add Task"> <span class="mdc-button__ripple"></span> Confirm Task </button>
		</form>
	</div>
</div>

<div id="task-list-container">
	{% for task in tasks %}
	<div class="float-container">
		<div class="task-name-container">
			{{ task.task_name }}
		</div>
		<div class="task-time-container">
			{{ task.task_time_seconds}}
		</div>
		<button class="play-button">Play</button>
	</div>
	{% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>

	let ONE_SECOND = 1000; // miliseconds
	// Array to store a setInterval for all the tasks
	let alarmClockArray = [];

	// Generic POST function for adding tasks
	async function addTaskPost(url, data) {
		const response = await fetch(url, {
			method: 'POST', // or 'PUT'
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(data)
		});
		let responseJson = await response.json(); // parses JSON response into native JavaScript objects

		if (responseJson.error == 0) {
			let taskListContainer = document.getElementById("task-list-container");
			let row = document.createElement("div");
			row.classList.add("float-container");
			let taskNameContainer = document.createElement("div");
			taskNameContainer.classList.add("task-name-container");
			taskNameContainer.textContent = responseJson['task-name'];
			let taskTimeContainer = document.createElement("div");
			taskTimeContainer.classList.add("task-time-container");
			taskTimeContainer.textContent = responseJson['task-time'];
			let playButton = document.createElement("button");
			playButton.classList.add("play-button");
			playButton.textContent = "Play";

			row.append(taskNameContainer);
			row.append(taskTimeContainer);
			row.append(playButton);

			//Similar to adding eventListenter for playButtons below.
			//newestTaskIndex is used for the array to store setInterval values
			let newestTaskIndex = document.getElementById("task-list-container").children.length;
			playButton.addEventListener("click", function () {
				if (this.textContent == "Play") {
					this.textContent = "Pause";
					// setInterval occurs infinitely until clearInterval
					alarmClockArray[newestTaskIndex] = (setInterval(function () {
						//TODO change if organization of nodes change
						let currentTimeLeft = parseInt(taskTimeContainer.textContent);
						if (currentTimeLeft > 0) {
							taskTimeContainer.textContent = currentTimeLeft - 1;
						}
						else {
							clearInterval(alarmClockArray[newestTaskIndex])
						}
					}, ONE_SECOND));
				}
				else {
					this.textContent = "Play";
					clearInterval(alarmClockArray[newestTaskIndex]);
				}
			});

			taskListContainer.append(row);
		}
	}

	// addEventListener('DOMContentLoaded', (event) => {
	// 	document.getElementById("show-add-task-container-button").addEventListener("click", function () {
	// 		let container = document.getElementById("add-task-container");
	// 		container.style.display = "block";
	// 		let showContainterButton = document.getElementById("show-add-task-container-button");
	// 		showContainterButton.style.display = "none";
	// 	});
	// });

	document.getElementById("add-task-submit-button").addEventListener("click", function () {
		taskName = document.getElementById("task-name").value;
		taskTime = document.getElementById("task-time").value;
		addTaskPost('/task', { 'task-name': taskName, 'task-time': taskTime });
	});


	playButtons = document.getElementsByClassName("play-button");
	for (let i = 0; i < playButtons.length; i++) {
		playButtons[i].addEventListener("click", function () {
			if (playButtons[i].textContent == "Play") {
				playButtons[i].textContent = "Pause";
				alarmClockArray[i] = setInterval(function () {
					//TODO change if organization of nodes change
					let currentTimeLeft = parseInt(playButtons[i].previousElementSibling.textContent);
					if (currentTimeLeft > 0) {
						playButtons[i].previousElementSibling.textContent = currentTimeLeft - 1;
					}
					else {
						clearInterval(alarmClockArray[i])
					}
				}, ONE_SECOND);
			}
			else {
				playButtons[i].textContent = "Play";
				clearInterval(alarmClockArray[i]);
			}
		})
	}
</script>

{% endblock %}