{% extends 'base.html' %} {% block content %} {% include "nav/navbar.html" %}

<button class="collapsed demo-button w-50 mdc-button mdc-button--raised mdc-ripple-upgraded m-3"
	data-bs-toggle="collapse" data-bs-target="#add-task-container" aria-expanded="false"
	aria-controls="add-task-container" id="show-add-task-container-button">
	<span class="mdc-button__ripple"></span>
	<span class="mdc-button__label">Add Task</span>
	<i class="material-icons mdc-button__icon">expand_more</i>
</button>

{% include "modal.html" %}

<div id="add-task-container" class="collapse" aria-labelledby="add-task-container">
	<div class="w-50 card card-body text-bg-dark justify-content-center d-inline-block text-start">
		<form method="post">
			<div class="py-2">
				<label class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
					<i class="material-icons mdc-text-field__icon" style="color: rgb(0, 0, 0)">task</i>
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Task Name</span>
					<input class="mdc-text-field__input" name="task-name" id="task-name" placeholder="Task Name"
						required />
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
			</div>
			<div class="py-2 d-flex">
				<label class="mr-2 mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
					<i class="material-icons mdc-text-field__icon" style="color: rgb(0, 0, 0)">schedule</i>
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Hours</span>
					<input class="mdc-text-field__input" type="number" name="task-time" id="task-time-hours"
						placeholder="Hours" min="0" max="99" required />
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
				<label class="mx-2 mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Minutes</span>
					<input class="mdc-text-field__input" type="number" name="task-time" id="task-time-minutes"
						placeholder="Minutes" min="0" max="59" required />
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
				<label class="ml-2 mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
					<span class="mdc-text-field__ripple --mdc-theme-primary"></span>
					<span class="mdc-floating-label">Seconds</span>
					<input class="mdc-text-field__input" type="number" name="task-time" id="task-time-seconds"
						placeholder="Seconds" min="0" max="59" required />
					<span class="mdc-line-ripple --mdc-theme-primary"></span>
				</label>
			</div>
			<button class="mdc-button mdc-button--raised mt-4 mb-2 login-button w-100" id="add-task-submit-button"
				type="submit" value="Add Task">
				<span class="mdc-button__ripple"></span> Confirm Task
			</button>
		</form>
	</div>
</div>
<div id="snackbar-delete" class="mdc-snackbar mdc-snackbar--closed fade">
	<div class="mdc-snackbar__surface">
		<div class="mdc-snackbar__label" role="status" aria-live="polite">
			Task Deleted Sucessfully
		</div>
		<div class="mdc-snackbar__actions">
			<button id="snackbar-undo" type="button" class="mdc-button mdc-snackbar__action">
				<div class="mdc-button__ripple"></div>
				UNDO
			</button>
			<button id="snackbar-dismiss" class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">
				close
			</button>
		</div>
	</div>
</div>
<div>
	<div class="w-50" id="task-list-container">
		{% for task in tasks %}

		<div id="task-id-{{ task.id }}"
			class="m-3 w-100 card card-body text-bg-dark justify-content-center d-inline-block" style="height: 160px">
			<a class="close float-end" href="#"><i class="material-icons mdc-button__icon">delete</i></a>
			<h5 class="card-header text-center">{{ task.task_name }}</h5>
			<div class="d-flex justify-content-center align-items-center">
				<p id="elasped-time-{{ task.id }}" class="p-1">00:00:00</p>
				<div role="progressbar" class="mdc-linear-progress text-start">
					<div id="progress-bar-{{ task.id }}"
						class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
						<span class="mdc-linear-progress__bar-inner"></span>
					</div>
					<div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
						<span class="mdc-linear-progress__bar-inner"></span>
					</div>
				</div>
				<p id="total-time-{{ task.id }}" class="p-1">00:00:00</p>
			</div>

			<div class="controls">
				<button class="play-pause play" id="play-pause-{{ task.id }}"></button>
			</div>
		</div>

		{% endfor %}
		{% endblock %}
		{% block javascript %}
		<script type="text/javascript" src="../../static/js/task.js"></script>
		{% endblock %}
	</div>
</div>