/* Overwrite primary theme color */
:root {
    --mdc-theme-primary: #40b5e8;
}

body {
    background-color: #000000;
}

label {
    color: #FFFFFF;
    width: 100%;
}

input {
    border-radius: 20px;
    border-style: solid;
    width: 300px;
    height: 40px
}

a {
    text-decoration: none;
    color: #40b5e8
}

.content {
    font-family: "Open Sans";
    color: #FFFFFF;
}

/* Change color of hidden character minimum on login screen */
.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: #FFFFFF
}

.right-content {
    float: right;
}

.auth-content {
    display: block;
    text-align: center;
    width: 400px;
    margin: auto;
}

.login-button {
    width: 300px;
    height: 50px;
    background-color: #40b5e8;
    color: #FFFFFF
}