/* Overwrite primary theme color */
:root {
    --mdc-theme-primary: #40b5e8;
}

body {
    background-color: #000000;
}

label {
    color: #FFFFFF;
    width: 100%;
}

input {
    border-radius: 20px;
    border-style: solid;
    width: 300px;
    height: 40px
}

a {
    text-decoration: none;
    color: #40b5e8
}

.content {
    font-family: "Open Sans";
    color: #ffffff;
    display: block;
    text-align: center;
}

/* Change color of hidden character minimum on login screen */
.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: #FFFFFF
}

/* Change importance of using primary theme color */
.mdc-tab--active .mdc-tab__text-label {
    color: #6200ee;
    color: var(--mdc-theme-primary, #6200ee) !important;
}

/* Change importance of using primary theme color */
.mdc-tab--active .mdc-tab__icon {
    color: #6200ee;
    color: var(--mdc-theme-primary, #6200ee) !important;
}


/* Change color of unselected navigation menu item */
.mdc-tab .mdc-tab__text-label {
    color: rgb(255 255 255 / 60%);
}

/* Change color of unselected navigation menu icon */
.mdc-tab .mdc-tab__icon {
    color: rgb(255 255 255 / 60%);
}

.right-content {
    float: right;
}

.auth-content {
    display: block;
    text-align: center;
    width: 400px;
    margin: auto;
}

.login-button {
    width: 300px;
    height: 50px;
    background-color: #40b5e8;
    color: #FFFFFF
}

#task-list-container {
    display: inline-grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.play-button {
    padding: 20px;
}


.profile_img {
    padding: 30px;
}

.profile_page_content {
    font-family: "Open Sans";
    color: #4d4d4d;
    display: block;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
}

.profile_page_headers {
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    font-family: "Open Sans";
    display: block;
}

.expBar {
    margin-bottom: 50px;
    display: block;
    width: 100%;
    background-color: rgb(117, 117, 117);
}

.expFill {
    width: 1%;
    height: 30px;
    background-color: rgb(111, 231, 255);
    text-align: center;
    line-height: 30px;
    color: rgb(0, 0, 0);
}

.nav_bar {
    width: auto;
    margin: auto;
    font-size: larger;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
}